

/*===============================
Search Box Styling
================================*/
.searchbox {
    display: flex;
    align-content: center;
}
#search {
    margin: 0 auto;
    height: 30px;
    width: 50%;
    max-width: 400px;
    border-radius: 5px;
    margin-top: 20px;
    height: 3em;
}

input[type="search"]::placeholder{
    text-align: center;
    font-size: 1.5rem;
    padding-top: 5px;
}


/*==================================
Gallery Styling and Layout
==================================*/

.gallery{
    display: grid;
    margin: 0 auto;
    padding-top: 60px;
    justify-items: center;
    width: 70%;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    row-gap: 2em;
}


